@import "variables";

.container {
    max-width: 1400px;
}

.modal-content{
    border-radius: 14px !important;
    
}


.modal-footer {
    border-top: unset !important; 
}

.modal-body {
    input {
        width: 100%
    }
}

.modal-header {
    border-top-left-radius: 14px !important;
    border-top-right-radius: 14px !important;
    background-color: #fd781d !important;
    color: white;
}
 

.white-box {
    background: white;
    border-top: solid 4px var(--primary);
    padding: 20px;
    margin: 0 0 30px 0;

    h2 {
        font-size: 16px;
        margin: 0 0 35px 0;
    }



    &.info {
        border-top-color: var(--info);

        h2 {
            color: var(--info);
        }
    }


    &.orange {
        border-top-color: $orange;

        h2 {
            color: $orange;
            margin-bottom: 20px;
        }
    }
}

.sidebar-max-width {
    max-width: 350px;
}