@import "variables";

.hideEventMobile {
    @media (max-width: 991px) {
        display: none !important;
    }
}
.showEventMobile {
    @media (min-width: 991px) {
        display: none !important;
    }
}

.event-box {
    
    .event-picture {
        height: 365px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 30px;
        background-color: transparent;
        position: relative;

        .delete {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 20px;
            display: none;
        }

        .date-box {
            &::after {
                content: "";
                right: -69px;
                top: 1px;
                border: solid 35px transparent;
                border-left-color: white;
                position: absolute;
                width: 0;
                height: 0;
                z-index: 1;

                @media (max-width: 500px) {
                    display: none;
                }
            }
        }

        .date-box-default {
            &::after {
                content: "";
                right: -30px;
                top: 20px;
                border: solid 15px transparent;
                border-left-color: white;
                position: absolute;
                width: 0;
                height: 0;
                z-index: 0;

                @media (max-width: 500px) {
                    display: none;
                }
            }
        }

        .date-box, .date-box-default {
            color: white;
            display: inline-flex;
            height: 69px;
            border-bottom: solid 5px white;
            position: relative;

            > .row {
                margin-left: 0;
                margin-right: 0;
            }

            .date {
                background: $gray;

                &::after {
                    content: "";
                    right: -42px;
                    top: 0px;
                    border: solid 31px transparent;
                    border-left-color: #484444;
                    position: absolute;
                    width: 0;
                    height: 0;
                    z-index: 1;

                    @media (max-width: 500px) {
                        display: none;
                    }
                }

                > .row {
                    padding: 10px;

                    > div {
                        padding: 0 5px;
                        z-index: 2;
                    }
                }

                .day {
                    margin: 4px 0 0 0;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 16px;
                }

                .month {
                    margin: 0;
                    font-size: 16px;
                }

                .day-number {
                    font-size: 42px;
                    font-weight: bold;
                    line-height: 38px;
                    margin: 0;
                    padding: 0;
                }
            }

            .time {
                color: white;
                line-height: 60px;
                font-size: 20px;
                white-space: nowrap;

                .far {
                    margin-right: 10px;
                    margin-left: 10px;
                }


                &::after {
                    content: "";
                    right: -63px;
                    top: 0;
                    border: solid 32px transparent;
                    height: 0;
                    width: 0;
                    background: transparent;
                    position: absolute;
                    z-index: 2;

                    @media (max-width: 500px) {
                        display: none;
                    }
                }

                &.day {
                    background: $orange;
                    padding-left: 20px;

                    &::after {
                        border-left-color: $orange;
                    }
                }

                &.night {
                    background: $darkBlue;

                    &::after {
                        border-left-color: $darkBlue;
                    }
                }
            }
        }


        .content {
            position: absolute;
            bottom: 20px;
            left: 20px;
            background: rgba(255, 255, 255, .7);
            max-width: 70%;

            h2 {
                background: rgba(255, 255, 255, .4);
                color: #020202;
                margin: 0;
                font-size: 20px;
                padding: 10px;
            }

            p {
                padding: 10px;
                max-height: 100px;
                overflow-y: auto;
                font-weight: 500;
            }
        }
    }

    .event-info {
        margin-top: 15px;
        color: $textGray;
        margin-right: 0;
        margin-bottom: 45px;

        .location {
            > .col, .col-auto {
                padding-right: 0;
            }

            .fas {
                font-size: 24px;
                margin-top: 5px;
            }

            p {
                margin: 0 0 -2px 0;
                font-size: 15px;
                font-weight: 500;
            }

            a {
                font-size: 15px;
                font-weight: 500;
            }
        }

        .actions {
            margin-right: 0;

            .btn {
                display: block;
                margin: 0 0 8px 0;
            }

            .far {
                margin-right: 5px;
            }
        }
    }


    &:hover {
        .event-picture {
            .delete {
                display: block;
            }
        }
    }
}


.gScale {
    filter: grayscale(100%);
}
