// colors
$gray: #484444;
$teal: #3e9cbd;
$lightBlue: #58b0ff;
$lightGray: #a7a7a7;
$textGray: #484444;
$darkBlue: #122f4a;
$orange: #d76519;
$veryLightGray: #eef5ff;
$blue: #0068ae;

// content
$bg: #e4e4e4;