@using System.Globalization;
@{ 
    var ui = CultureInfo.CurrentUICulture;
    var format = ui.DateTimeFormat;
}
<div class="white-box orange" id="calendar">
    <h2>@Loc["CALENDAR"]</h2>

    <div id="calendarBox" data-date="@config.Location.Now.ToString("yyyy-MM-dd")"></div>
</div>