@using System.Globalization;
@{
    var ui = CultureInfo.CurrentUICulture;
    var format = ui.DateTimeFormat;
}
<div class="white-box orange" id="calendar" ng-controller="calendarCtrl">
    <h2>@Loc["CALENDAR"]</h2>

    <div style="display: inline-block">
        <calendar selected="day"></calendar>
    </div>

    <span ng-show="getEventTitle(day)">Event: <b>{{getEventTitle(day)}}</b></span>
</div>


