@using System.Net

@{
    var ui = System.Globalization.CultureInfo.CurrentUICulture.DateTimeFormat;
    // bool night = Model.StartDate.Hour >= 18;
}

<div ng-controller="eventCtrl">
    <div class="white-box info event-box" ng-repeat="currentPeriod in eventPeriods"  ng-show="currentPeriod.show">
        <h2>{{currentPeriod.name | uppercase}}</h2>

        
        <div class="event-box" ng-repeat="event in currentPeriod.data | limitTo : currentPeriod.limitTo">

            <div class="event-picture" ng-style="{'background-image':'url({{event.cover.source}})'}" ng-class="{gScale : currentPeriod.name == 'PAST EVENTS'}">
                <div ng-class="{'date-box' : !event.default, 'date-box-default' : event.default }">
                    <div class="row">
                        <div class="col-auto date">
                            <div class="row">
                                <div class="col-auto">
                                    <p class="day">{{event.start_time | date : "EEE" | uppercase}}</p>
                                    <p class="month">{{event.start_time | date : "MMM" | uppercase}}</p>
                                </div>
                                <div class="col">
                                    <p class="day-number">{{event.start_time | date : "dd"}}</p>
                                </div>
                                <div class="col"  ng-hide="sameDate(event.start_time, event.end_time)"> - </div>
                                <div class="col-auto"  ng-hide="sameDate(event.start_time, event.end_time)">
                                    <p class="day">{{event.end_time | date : "EEE" | uppercase}}</p>
                                    <p class="month">{{event.end_time | date : "MMM" | uppercase}}</p>
                                </div>
                                <div class="col" ng-hide="sameDate(event.start_time, event.end_time)">
                                    <p class="day-number">{{event.end_time | date : "dd"}}</p>
                                </div>
                                

                            </div>
                        </div>
                        <div class="col time {{getEventBackground(event.start_time)}}"  ng-hide="event.default">

                            <i class="far {{getEventBackgroundIcon(event.start_time)}}"></i>
                            {{event.start_time | date : "h:mma" | lowercase}} - {{event.end_time | date : "h:mma" | lowercase}}
                        </div>
                    </div>
                </div>

                <div class="content" style="max-height: 200px">
                    <h2>{{event.name}}</h2>
                    <p style="white-space: pre-line;">{{filterDesc(event.description)}}</p>
                </div>
            </div>

            <div class="row event-info" ng-hide="event.default">
                <div class="col location">
                    <div class="row">
                        <div class="col-auto"><i class="fas fa-map-marker-alt"></i></div>
                        <div class="col">
                            <p>{{event.place.name}}</p>
                            <p>{{event.place.location.street}}</p>
                            <p>{{event.place.location.city}}, {{event.place.location.state}} {{event.place.location.zip}}</p>
                            <a target="_blank" ng-href="{{getGoogleMapDirection(event.place.location.street, event.place.location.city, event.place.location.state)}}">Get directions</a>
                        </div>
                    </div>
                </div>
                <div class="col-ml-auto actions">
                    <a href="#" class="btn btn-primary">SHARE</a>
                    <p>
                        <a href="#"><i class="far fa-calendar-alt"></i> Add to Calendar</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="btn btn-primary col-12" style="margin-top: 20px" ng-show="currentPeriod.limitTo < currentPeriod.data.length" ng-click="currentPeriod.limitTo = currentPeriod.limitTo + 5">
            Show more {{currentPeriod.name | lowercase}}
        </div>

    </div>
    DateTime: {{new Date()}}

</div>


