<div class="white-box orange" id="subscribe">
    <h2>@Loc["SUBSCRIBE TO EMAIL LIST"]</h2>

    <p class="text-success text-center sidebar-max-width">
        @Loc["Thank you! You are now subscribed to our mailing list!"]
    </p>
</div>