@model UserLocation
<div class="modal" tabindex="-1" role="dialog" id="userLocation" ng-controller="changeLocationCtrl">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Loc["Change Location"]</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="@Loc["Close"]">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body" style="margin-top: 25px; padding-bottom: 0;">
                <div class="group">
                    <input type="text" ng-model="inputLocation" ng-change="AddressErrorMsg = ''" ng-enter="ChangeLocation()" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Enter Zipcode or City, State</label>
                    <span class="text-danger">{{AddressErrorMsg}}</span>
                </div>
                
                <div class="group">
                    <span class="bar ml-1" ng-show="ZipCodeList">Pick the correct city, state and zip:</span>
                    <span class="btn btn-light mr-2 mb-2"  ng-repeat="zips in ZipCodeList" ng-click="zipClick(zips)">{{zips.city | titlecase}}, {{zips.state}} {{zips.zipCode}}</span>
                </div>


            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-click="ChangeLocation()">@Loc["Save changes"]</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Loc["Close"]</button>
            </div>
            
        </div>
    </div>
</div>

@*<script>
    function setupAutocomplete() {
        $('#userLocation #Address').geocomplete()
            .bind("geocode:result", function (event, result) {
                $('#Latitude').val(result.geometry.location.lat());
                $('#Longitude').val(result.geometry.location.lng());
            });
    }

    window.jQuery ? setupAutocomplete() : window.addEventListener('load', setupAutocomplete);
</script>*@