@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@section Scripts {
}
<div class="row">
    <div class="col-lg-8 col-md-12  col-sm-12 col-xs-12">
        @await Html.PartialAsync("_Fundraising")
        @await Html.PartialAsync("_Event")
       
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        @await Html.PartialAsync("_UserLocation", Model.Location)
        @await Html.PartialAsync("_PrayerTimes")
        @await Html.PartialAsync("_Subscribe", new SubscribeModel())
        @await Html.PartialAsync("_Location")
        @await Html.PartialAsync("_Calendar")
        @await Html.PartialAsync("_About")
    </div>
</div>